In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("ipl_2024.csv")

# df.columns
df.columns.tolist()

['season',
 'match_id',
 'match_name',
 'home_team',
 'away_team',
 'venue',
 'city',
 'country',
 'current_innings',
 'innings_id',
 'name',
 'fullName',
 'runs',
 'ballsFaced',
 'minutes',
 'fours',
 'sixes',
 'strikeRate',
 'captain',
 'isNotOut',
 'runningScore',
 'runningOver',
 'shortText',
 'commentary',
 'link']

In [10]:
df.head(2)

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary,link
0,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,0,1,105.00,False,False,"{'wickets': 4, 'runs': 77}",11.2,c Ravindra b Mustafizur Rahman,tiki-taka catch between Rahane and Ravindra at...,NaN
1,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,8,0,152.17,True,False,"{'wickets': 1, 'runs': 41}",4.3,c Ravindra b Mustafizur Rahman,The Fizz strikes in his first over this IPL. T...,NaN

In [13]:
# df.drop(columns=['link'])

df.drop(columns=['link'], inplace=True)
# This removes the link column from df permanently.

KeyError: "['link'] not found in axis"

In [14]:
# Step 3: Save the updated DataFrame to a new CSV file
df.to_csv('IPL_cleaned_2024.csv', index=False)

# index=False gives you a cleaner CSV without unnecessary row numbers.

In [15]:
df.columns

Index(['season', 'match_id', 'match_name', 'home_team', 'away_team', 'venue',
       'city', 'country', 'current_innings', 'innings_id', 'name', 'fullName',
       'runs', 'ballsFaced', 'minutes', 'fours', 'sixes', 'strikeRate',
       'captain', 'isNotOut', 'runningScore', 'runningOver', 'shortText',
       'commentary'],
      dtype='object')

In [16]:
df.describe()
#only column with numeric value

,season,match_id,innings_id,runs,ballsFaced,fours,sixes,runningOver
count,928.0,9.280000e+02,928.000000,928.000000,928.000000,928.000000,928.000000,723.000000
mean,2024.0,1.424816e+06,1.495690,22.417026,14.733836,1.989224,1.145474,11.077593
std,0.0,1.983394e+03,0.500251,23.264337,12.839531,2.400084,1.710227,5.980800
min,2024.0,1.422119e+06,1.000000,0.000000,0.000000,0.000000,0.000000,0.100000
25%,2024.0,1.422133e+06,1.000000,5.000000,5.000000,0.000000,0.000000,5.500000
50%,2024.0,1.426268e+06,1.000000,15.000000,11.000000,1.000000,0.000000,12.100000
75%,2024.0,1.426283e+06,2.000000,33.000000,21.000000,3.000000,2.000000,16.500000
max,2024.0,1.426297e+06,2.000000,124.000000,72.000000,14.000000,10.000000,19.600000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   season           928 non-null    float64
 1   match_id         928 non-null    int64
 2   match_name       928 non-null    object
 3   home_team        928 non-null    object
 4   away_team        928 non-null    object
 5   venue            928 non-null    object
 6   city             928 non-null    object
 7   country          928 non-null    object
 8   current_innings  928 non-null    object
 9   innings_id       928 non-null    int64
 10  name             928 non-null    object
 11  fullName         928 non-null    object
 12  runs             928 non-null    int64
 13  ballsFaced       928 non-null    int64
 14  minutes          928 non-null    object
 15  fours            928 non-null    int64
 16  sixes            928 non-null    int64
 17  strikeRate       928 non-null    object
 18  captain          928 non-null    bool
 19  isNotOut         928 non-null    bool
 20  runningScore     928 non-null    object
 21  runningOver      723 non-null    float64
 22  shortText        928 non-null    object
 23  commentary       723 non-null    object
dtypes: bool(2), float64(2), int64(6), object(14)
memory usage: 161.4+ KB

In [18]:
df.shape

(928, 24)

In [19]:
df.name

0           V Kohli
1      F du Plessis
2        RM Patidar
3        GJ Maxwell
4           C Green
           ...
923          S Dube
924       RA Jadeja
925        MS Dhoni
926      MJ Santner
927       SN Thakur
Name: name, Length: 928, dtype: object

In [20]:
df.rename(columns = {'name':'batsmen'}, inplace = True)

In [21]:
df.batsmen

0           V Kohli
1      F du Plessis
2        RM Patidar
3        GJ Maxwell
4           C Green
           ...
923          S Dube
924       RA Jadeja
925        MS Dhoni
926      MJ Santner
927       SN Thakur
Name: batsmen, Length: 928, dtype: object

In [22]:
# to check i there any null value in any column or not
df.isnull().sum()

season               0
match_id             0
match_name           0
home_team            0
away_team            0
venue                0
city                 0
country              0
current_innings      0
innings_id           0
batsmen              0
fullName             0
runs                 0
ballsFaced           0
minutes              0
fours                0
sixes                0
strikeRate           0
captain              0
isNotOut             0
runningScore         0
runningOver        205
shortText            0
commentary         205
dtype: int64

In [23]:
df.dropna(inplace = True)

In [24]:
df.isnull().sum()
# there is no nullvalues in Company_Profile column

season             0
match_id           0
match_name         0
home_team          0
away_team          0
venue              0
city               0
country            0
current_innings    0
innings_id         0
batsmen            0
fullName           0
runs               0
ballsFaced         0
minutes            0
fours              0
sixes              0
strikeRate         0
captain            0
isNotOut           0
runningScore       0
runningOver        0
shortText          0
commentary         0
dtype: int64

In [27]:
df.head(5)

,season,match_id,match_name,home_team,away_team,venue,city,country,current_innings,innings_id,...,minutes,fours,sixes,strikeRate,captain,isNotOut,runningScore,runningOver,shortText,commentary
0,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,46,0,1,105.00,False,False,"{'wickets': 4, 'runs': 77}",11.2,c Ravindra b Mustafizur Rahman,tiki-taka catch between Rahane and Ravindra at...
1,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,21,8,0,152.17,True,False,"{'wickets': 1, 'runs': 41}",4.3,c Ravindra b Mustafizur Rahman,The Fizz strikes in his first over this IPL. T...
2,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,2,0,0,0.00,False,False,"{'wickets': 2, 'runs': 41}",4.6,c &dagger;Dhoni b Mustafizur Rahman,double strike for the Fizz. He has been done i...
3,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,2,0,0,0.00,False,False,"{'wickets': 3, 'runs': 42}",5.3,c &dagger;Dhoni b Chahar,CSK have come roaring back. Maxwell is gone fo...
4,2024.0,1422119,CSK v RCB,CSK,RCB,"MA Chidambaram Stadium, Chepauk, Chennai",Chennai,India,RCB,1,...,20,1,0,81.81,False,False,"{'wickets': 5, 'runs': 78}",11.4,b Mustafizur Rahman,four for Fizz. Hits the top of leg. The cutter...